<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        {% set route_name = app.request.attributes.get("_route") %}
           <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <b  {% if route_name == "homepage" %}
                        {{ 'style="color:white;"' }}
                    {% endif %}>
                    Stolen
                </b>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('house') }}">
                        <i  {% if route_name == "house" %}
                                {{ 'style="color:white;"' }}
                            {% endif %}
                        class="fa fa-home fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('car') }}">
                        <i  {% if route_name == "car" %}
                                {{ 'style="color:white;"' }}
                            {% endif %}class="fa fa-car fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('motorcycle') }}">
                        <i {% if route_name == "motorcycle" %}
                                {{ 'style="color:white;"' }}
                            {% endif %}
                            class="fa fa-motorcycle fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('bike') }}">
                        <i {% if route_name == "bike" %}
                                {{ 'style="color:white;"' }}
                            {% endif %}
                            class="fa fa-bicycle fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('other') }}">
                        <i {% if route_name == "other" %}
                                {{ 'style="color:white;"' }}
                            {% endif %}
                            class="fa fa-plus fa-lg"></i>
                    </a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('search') }}">
                        <i  {% if route_name == "search" %}
                                {{ 'style="color:white;"' }}
                            {% endif %}
                            class="fa fa-search fa-lg"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i {% if route_name == "login" or route_name == "register" or route_name == "logout" or route_name == "help" %}
                            {{ 'style="color:white;"' }}
                        {% endif %}
                        class="fa fa-male fa-lg"></i>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>