{% extends 'base.html.twig' %}

{% block body %}
    <h1>UserInformation list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Language</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Mobile</th>
                <th>City</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userInformation in userInformations %}
            <tr>
                <td><a href="{{ path('userinformation_show', { 'id': userInformation.id }) }}">{{ userInformation.id }}</a></td>
                <td>{{ userInformation.firstname }}</td>
                <td>{{ userInformation.lastname }}</td>
                <td>{{ userInformation.language }}</td>
                <td>{{ userInformation.country }}</td>
                <td>{{ userInformation.phone }}</td>
                <td>{{ userInformation.mobile }}</td>
                <td>{{ userInformation.city }}</td>
                <td>{{ userInformation.address }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('userinformation_show', { 'id': userInformation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('userinformation_edit', { 'id': userInformation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userinformation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
