{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-8">
        <center><h2>Bike list</h2></center>
        {% for bike in bikes %}
            
            <div class="list-group">
                <a href="{{ path('bike_show', { 'guid': bike.guid }) }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ bike.category }}</h4>
                    <p class="list-group-item-text">{{ bike.brand }}</p>
                </a>
            </div>
            
            {#<tr>
                <td><a href="{{ path('bike_show', { 'id': bike.guid }) }}">{{ bike.guid }}</a></td>
                <td>{{ bike.category }}</td>
                <td>{{ bike.brand }}</td>
                <td>{% if bike.year %}{{ bike.year|date('Y-m-d') }}{% endif %}</td>
                <td>{{ bike.size }}</td>
                <td>{{ bike.color }}</td>
                <td>{{ bike.gears }}</td>
                <td>{{ bike.brakes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bike_show', { 'id': bike.guid }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bike_edit', { 'id': bike.guid }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>#}
        {% endfor %}

    </div>
    <div class="col-md-4">
        <center><h2>Create a new</h2></center>
        <ul>
            <li>
                <a href="{{ path('bike_new') }}">Create a new entry</a>
            </li>
        </ul>
    </div>
{% endblock %}
