{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bike list</h1>

   
        {% for bike in bikes %}
            
            <div class="list-group">
                <a href="{{ path('bike_show', { 'guid': bike.guid }) }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ bike.category }}</h4>
                    <p class="list-group-item-text">{{ bike.brand }}</p>
                </a>
            </div>
            
            {#<tr>
                <td><a href="{{ path('bike_show', { 'id': bike.guid }) }}">{{ bike.guid }}</a></td>
                <td>{{ bike.category }}</td>
                <td>{{ bike.brand }}</td>
                <td>{% if bike.year %}{{ bike.year|date('Y-m-d') }}{% endif %}</td>
                <td>{{ bike.size }}</td>
                <td>{{ bike.color }}</td>
                <td>{{ bike.gears }}</td>
                <td>{{ bike.brakes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bike_show', { 'id': bike.guid }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bike_edit', { 'id': bike.guid }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>#}
        {% endfor %}


    <ul>
        <li>
            <a href="{{ path('bike_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
