{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bike</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bike.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ bike.category }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ bike.brand }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{% if bike.year %}{{ bike.year|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ bike.size }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ bike.color }}</td>
            </tr>
            <tr>
                <th>Gears</th>
                <td>{{ bike.gears }}</td>
            </tr>
            <tr>
                <th>Brakes</th>
                <td>{{ bike.brakes }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if bike.created %}{{ bike.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if bike.updated %}{{ bike.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bike_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bike_edit', { 'id': bike.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
